.userNotifier
{
    display:inline!important;
    padding-top:2px!important;
    padding-bottom:2px!important;
    padding-left:5px!important;
    padding-right:5px!important;
    width:auto;
    min-width:200px!important;
}

.notifier{
    float:left;
    color:#0094ff;
    padding-right:5px!important;
}